/* Counter
---------------------------------------------------------------------------------- */

/*
cssg

	counter
        counter_label
        counter_buttons
            <button> +

*/


/* Vars
-------------------------------------------------- */

@import "../../../css/variables";


/* /Vars */


.counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    }

.counter_label {

    }

.counter_buttons {

    }

/* /Counter
---------------------------------------------------------------------------------- */