/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    padding: 0;

    flex-grow: 1;
    display: flex;
    width: 100%;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    padding: 0 $grid-4;

    margin: $grid-2 auto;
    max-width: $width-normal;
    }

/* /Common wrapper */


/* Main
-------------------------------------------------- */

.main {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    }

/* /Main */

/* /Layout
---------------------------------------------------------------------------------- */